[Desktop Entry]
Type=Application
Name=Crypto Indicator
Comment=Precio de criptomonedas en la barra del sistema
Exec=crypto-indicator
Icon=crypto-indicator
Terminal=false
Categories=Utility;Network;
Keywords=bitcoin;crypto;criptomonedas;precio;
